* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 2s;
}

header {
    width: 100%;
    height: 80px;
    align-items: center;
    padding-top: 5px;

    nav {
        width: 75%;
        height: 70px;
        background: white;
        margin: auto;
        align-items: center;
        display: flex;
        text-decoration: none;
        list-style: none;
        gap: 100px;
        justify-content: space-around;

        ul:nth-child(1) {
            display: flex;
            align-items: center;
            text-decoration: none;
            list-style: none;
            gap: 30px;

            h1 {
                font-family: Lato;
                font-weight: 700;
                font-size: 16px;
                line-height: 160%;
                letter-spacing: 0%;

            }

            img {
                width: 140px;
                height: 40px;
            }
        }

        ul:nth-child(2) {
            display: flex;
            align-items: center;
            text-decoration: none;
            list-style: none;
            gap: 30px;

            h1 {
                font-family: Lato;
                font-weight: 700;
                font-size: 16px;
                line-height: 160%;
                letter-spacing: 0%;

            }

            img {
                width: 40px;
                height: 40px;
            }

            button {
                width: 300px;
                height: 70px;
                border: none;
                font-family: Lato;
                font-weight: 700;
                font-size: 16px;
                line-height: 52px;
                letter-spacing: 0.5px;
                text-align: center;
                vertical-align: middle;
                border-radius: 10px;
                background: #FF3F3A;
            }
        }
    }
}

a {
    list-style: none;
    text-decoration: none;
}

.os {
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: space-around;
    align-items: center;

    .os1 {
        h1 {
            font-family: Lato;
            font-weight: 900;
            font-size: 32px;
            line-height: 130%;
            letter-spacing: 0%;

        }

        p {
            font-family: Lato;
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            letter-spacing: 0%;
            color: silver;
        }

        h2 {
            font-family: Lato;
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            color: black;
            letter-spacing: 0%;

        }

        div {
            display: flex;
            gap: 50px;
            margin-top: 50px;

            button {
                width: 200px;
                height: 50px;
                border-radius: 10px;
                border: 2px solid #FF3F3A;
                background: none;
            }
        }
    }
}

.mac {
    display: flex;
    width: 200px;
    height: 50px;
    justify-content: space-around;

    margin-left: 100px;
}


.macos {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 40px;

    >div {
        display: block;
        width: 40%;

        img {
            width: 100%;
        }

        div {
            display: flex;
            align-items: center;
            gap: 20px;
            margin-top: 30px;

            h1 {
                font-family: Lato;
                font-weight: 900;
                font-size: 48px;
                line-height: 130%;
                letter-spacing: 1px;
                color: #FF3F3A;

            }

            p {
                font-family: Lato;
                font-weight: 700;
                font-size: 18px;
                line-height: 150%;
                letter-spacing: 0%;
                vertical-align: middle;

            }
        }
    }
}


.sty1 {
    font-family: Lato;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: silver;
    margin-top: 40px;
}

.sty2 {
    font-family: Lato;
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    letter-spacing: 0%;

}


.cod {
    width: 80%;
    height: auto;
    margin-left: 10%;

    .cod1 {
        width: 100%;
        height: 400px;
        margin-top: 20px;
        justify-content: space-around;
        display: flex;

        div {
            width: 30%;
            height: 100%;
            border-radius: 10px;
            border: 1px solid silver;

            img {
                width: 100%;
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;

            }

            button {
                padding-left: 3px;
                padding-top: 3px;
                padding-right: 3px;
                padding-bottom: 3px;
                border-radius: 5px;
                border: none;
                margin-top: 10px;
                margin-left: 10px;
            }

            p {
                font-family: Lato;
                font-weight: 400;
                font-size: 16px;
                line-height: 160%;
                letter-spacing: 0%;
                margin-left: 10px;
                margin-top: 10px;
            }

            h1 {
                font-family: Lato;
                font-weight: 700;
                font-size: 16px;
                line-height: 160%;
                letter-spacing: 0%;
                margin-top: 30px;
                margin-left: 10px;

                img {
                    width: 20px;
                    height: 10px;
                }
            }

            .codd {
                margin-left: 100px;
                margin-top: 200px;
                color: silver;
            }
        }
    }
}

.copy {
    width: 80%;
    height: 200px;
    margin-left: 10%;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;

    div {
        width: 235px;
        height: 180px;
        background: white;

        h1 {
            font-family: Lato;
            font-weight: 700;
            font-size: 20px;
            line-height: 150%;
            letter-spacing: 0%;
            text-align: center;
        }

        p {
            font-family: Lato;
            font-weight: 400;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: center;
            color: silver;
        }

        img {
            margin-left: 35%;
        }
    }
}



.hr {
    left: 450px;
    width: 2px;
    height: 150px;
    background: silver;
    position: absolute;
}

.hr1 {
    left: 750px;
    width: 2px;
    height: 150px;
    background: silver;
    position: absolute;
}

.hr2 {
    width: 2px;
    height: 150px;
    background: silver;
    position: absolute;
    left: 1050px;
}



.q {
    display: flex;
    width: 100%;
    height: 700px;
    justify-content: center;
    margin-top: 100px;
    font-family: sans-serif;

    >div {
        width: 40%;
        height: 600px;
    }

    .q1 {

        div {
            p {
                font-family: Lato !important;
                font-weight: 700 !important;
                font-size: 16px !important;
                line-height: 150% !important;
                letter-spacing: 1px !important;
                text-transform: uppercase !important;
                color: #1E212C !important;
            }

            h1 {
                font-family: Lato !important;
                font-weight: 900 !important;
                font-size: 46px !important;
                line-height: 130% !important;
                letter-spacing: 0% !important;
                font-family: sans-serif !important;
            }
        }

        h2 {
            font-family: Lato;
            font-weight: 900;
            font-size: 12px;
            line-height: 150%;
            color: silver;
            letter-spacing: 0%;
            vertical-align: middle;
            margin-top: 30px;
        }

        h1 {
            font-family: Lato;
            font-weight: 700;
            font-size: 20px;
            line-height: 150%;
            letter-spacing: 0%;
            vertical-align: middle;
            font-family: sans-serif;
            margin-top: 10px;
        }

        p {
            font-family: Lato;
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            letter-spacing: 0%;
            color: silver;
        }


    }
}

.gor {
    position: absolute;
    top: 2610px;
    left: 130px;
}



.katta {
    width: 80%;
    height: 400px;
    margin-left: 10%;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;

    div {
        width: 23%;
        height: 400px;
        background: white;

        img {
            width: 100%;
        }

        h1 {
            font-family: Lato;
            font-weight: 700;
            font-size: 20px;
            line-height: 150%;
            letter-spacing: 0%;
            text-align: center;

        }

        p {
            font-family: Lato;
            font-weight: 400;
            font-size: 16px;
            color: silver;
            line-height: 160%;
            letter-spacing: 0%;
            text-align: center;

        }

    }
}


.asos {

    width: 100%;
    height: 1000px;
    background: #F4F5F6;



    .s2 {
        width: 100%;
        height: auto;
        margin-top: 100px;
        margin-bottom: 70px;

        .fr {
            width: 70%;
            height: 300px;
            background: white;
            margin-left: 15%;

            p {
                font-family: Lato;
                font-weight: 400;
                font-size: 20px;
                line-height: 150%;
                letter-spacing: 0%;
                margin-left: 20px;
                margin-top: 20px;
                position: absolute;
            }

            img {
                margin-left:30px;
                margin-right: 30px;
                margin-top: 170px;
            }
        }
    }

    .kk {
        display: flex;

        h2 {
            margin-top: 180px;
        }
    }
}


.str1,
.str2 {
    position: absolute;
    top: 4600px;
    left: 100px;
}

.str2 {
    left: 1350px;
}