* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-image: url(./img/photo_2026-02-27_13-57-43.jpg);
    height: 1000px;
}

header {
    width: 100%;
    height: 80px;
    align-items: center;
    padding-top: 5px;

    nav {
        width: 75%;
        height: 70px;
        background: #fedcd1;
        margin: auto;
        align-items: center;
        display: flex;
        text-decoration: none;
        list-style: none;
        gap: 100px;
        justify-content: space-around;

        ul:nth-child(1) {
            display: flex;
            align-items: center;
            text-decoration: none;
            list-style: none;
            gap: 30px;

            h1 {
                font-family: Lato;
                font-weight: 700;
                font-size: 16px;
                line-height: 160%;
                letter-spacing: 0%;

            }

            img {
                width: 140px;
                height: 40px;
            }
        }

        ul:nth-child(2) {
            display: flex;
            align-items: center;
            text-decoration: none;
            list-style: none;
            gap: 30px;

            h1 {
                font-family: Lato;
                font-weight: 700;
                font-size: 16px;
                line-height: 160%;
                letter-spacing: 0%;

            }

            img {
                width: 40px;
                height: 40px;
            }

            button {
                width: 300px;
                height: 70px;
                border: none;
                font-family: Lato;
                font-weight: 700;
                font-size: 16px;
                line-height: 52px;
                letter-spacing: 0.5px;
                text-align: center;
                vertical-align: middle;

                background: #FF3F3A;
            }
        }
    }
}


.main {
    display: flex;
    align-items: center;
    justify-content: space-around;


    >div {
        width: 40%;
        height: 500px;
        margin-top: 100px;

        img {
            background: none;
        }
    }

    .ong {

        img {
            margin-top: 50px;
            margin-left: 50px;
        }

        h1 {
            font-family: Lato;
            font-weight: 900;
            font-size: 64px;
            line-height: 130%;
            letter-spacing: 1px;
            vertical-align: middle;
            margin-left: 50px;
            color: black;
        }

        button {
            width: 200px;
            height: 50px;
        }

        button:nth-child(1) {
            background: none;
            border: 2px solid salmon;
        }

        button:nth-child(2) {
            background: #FF3F3A;
            border: 2px solid salmon;
        }

        .bnt {
            gap: 50px;
        }
    }

}


.ox {
    width: 100%;
    height: 100px;
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    div {
        width: 20%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        h1 {
            font-family: Lato;
            font-weight: 900;
            font-size: 46px;
            line-height: 130%;
            letter-spacing: 0%;
            text-align: center;
            vertical-align: middle;

        }
    }
}